*{
    margin: 0px;
    padding: 0px;
}

.pic{
    width: 100px;
    height: 100px;
    float:left;
}
.content{
    width: 100px;
    height: 100px;
    float: left;
}

.img{
    width: 100px;
    height: 100px;
}